.edit__inner {
  background-color: #fff;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 3px 3px 5px #888;
  margin: 40px auto 0;
  width: 50%;
}

.error {
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  color: #721c24;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 15px;
}

.content__ttl {
  text-align: center;
  padding: 10px 15px;
}

.form {
  padding: 20px;
}

.form-group {
  display: flex;
  justify-content: left;
  margin-bottom: 20px;
}

.form__label {
  width: 20%;
}

.form__input {
  font-size: 1em;
  margin-right: 20px;
  padding: 5px;
  width: 60%;
}

.form__input:focus,
.form-control:focus {
  outline: none;
}

.form-control {
  font-size: 1.3em;
  height: 100px;
  width: 90%;
}

.edit-img{
  margin-bottom: 20px;
  width: 100%;
}

.img {
  width: 30%;
}

.btn {
  border-radius: 5px;
  background: blue;
  color: #fff;
  padding: 10px 20px;
  width: 100%;
}

.btn:hover{
  opacity: 0.7;
}

.back-link {
  padding-bottom: 10px;
  text-align: center;
}

.link {
  color: blue;
}

.link:hover{
  opacity: 0.7;
}