.notification__inner {
  background-color: #fff;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 3px 3px 5px #888;
  margin: 40px auto 0;
  width: 40%;
}

.content__ttl {
  border-radius: 5px 5px 0 0;
  padding: 10px 15px;
  text-align: center;
}

.success {
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  border-radius: 4px;
  color: #155724;
  padding: 10px;
  margin: 0 auto 15px;
  text-align: center;
  width: 40%;
}

.form {
  padding: 20px;
}

.form-group {
  display: flex;
  justify-content: left;
  margin-bottom: 20px;
}

.form-label {
  width: 20%;
}

.form-input {
  font-size: 1em;
  margin-left: 10px;
  padding: 5px;
  width: 100%;
}

.form-control {
  font-size: 1.3em;
  height: 100px;
  width: 90%;
}

.form-input:focus,
.form-control:focus {
  outline: none;
}

.btn {
  border-radius: 5px;
  background: blue;
  color: #fff;
  cursor: pointer;
  margin-bottom: 20px;
  padding: 10px 20px;
  width: 100%;
}

.btn:hover {
  opacity: 0.7;
}

.back-link {
  text-align: center;
}

.link {
  color: blue;
}

.link:hover {
  opacity: 0.7;
}

