body {
  background-color: #ddd;
}

a {
  text-decoration: none;
}

.container{
  max-width: 1500px;
}

.inner{
  background-color: #fff;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 3px 3px 5px #888;
  margin: 40px auto 0;
  padding: 15px;
  width: 40%;
}

.register-form__error-message,
.login-form__error-message,
.reservation-error-message{
  color: red;
  text-align: center;
}

/* 星 */
.star-filled {
  color: blue;
}

.star-empty {
  color: #a7a5a5;
}

.star-filled,
.star-empty {
  font-size: 1.5rem;
}

/* ヘッダー */
.header {
  height: 100px;
  max-width: 1500px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 5%;
  width: 100%;
}

.header__inner--ttl{
  display: flex;
  align-items: center;
  width: 200px;
}

.header__inner-button--icon {
  background-color: blue;
  border-radius: 5px;
  box-shadow: 3px 3px 5px #888;
  box-sizing: border-box;
  display: inline-block;
  width: 50px;
  height: 50px;
  position: relative;
  padding: 10px;
  text-decoration: none;
}

.header__inner-link--border {
  display: inline-block;
  background-color: #fff;
  position: absolute;
  left: 10px;
  right: 10px;
  height: 2px;
}

.header__inner-link--border:nth-last-of-type(1) {
  top: 25%;
  width: 40%;
}

.header__inner-link--border:nth-last-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
}

.header__inner-link--border:nth-last-of-type(3) {
  top: 75%;
  width: 20%;
}

.site__ttl{
  padding-left: 10px;
    font-size: 2rem;
}

.site__ttl a{
  color: blue;
}

.site__ttl a:hover {
  opacity: 0.7;
}


@media screen and(min-width:768px) {
  .header {
    height: 100px;
    max-width: 1500px;
  }
}

