.header__nav{

}

.header__nav-list{

}

.header__nav-item{

}

.card__area{
  max-width: 1500px;
}

.card__area-inner{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 5%;
  width: 100%;
}

.card__group{
  width: 23%;

}

.card__img{
  width: 100%;

}

.card__img img{
  width: 100%;
}

.card__content{

}

.card__ttl{

}

.card__tag{

}

.card__flex{
  
}

.card-link{

}

.card-link--submit{

}

.heart{
  cursor: pointer;
  height: 45px;
  position: relative;
  transform: rotate(-45deg);
  width: 50px;
}

.heart:before,
.heart:after {
  content: "";
  width: 50px;
  height: 80px;
  border-radius: 50px 50px 0 0;
  background: #ccc;
  position: absolute;
  top: 0;
  left: 25px;
}

.heart:before {
  left: 0;
  transform: rotate(90deg);
}

.heart.active:before,
.heart.active:after {
  background: red;
}

