.header__nav{

}

.header__nav-list{

}

.header__nav-item{

}

.card__area{
  max-width: 1500px;
}

.card__area-inner{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 5%;
  width: 100%;
}

.card__group{
  width: 23%;

}

.card__img{
  width: 100%;

}

.card__img img{
  width: 100%;
}

.card__content{

}

.card__ttl{

}

.card__tag{

}

.card__flex{
  
}

.card-link{

}

.card-link--submit{

}

.heart input[type="checkbox"] {
  display: none;
}

.heart i {
  color: gray;
}

.heart input[type="checkbox"]:checked+i {
  color: red;
}



/* .heart {
  font-size: 30px;
  color: #ccc;
  cursor: pointer;
  transition: color 0.3s;
}

.heart input[type="checkbox"] {
  display: none;
}

.heart input[type="checkbox"]:checked+.fa-heart{
  color: red;
} */