.mypage{
  max-width: 1500px;
}

.mypage__inner{
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  width: 100%;
}

.review-btn{
  color: blue;
  font-weight: bold;
}

.review-btn:hover{
  opacity: 0.7;
}


/* 予約状況 */
.content__group{
  width: 48%;
}

.status-area{
  position: relative;
  background-color: #2b43f8;
  border-radius: 5px;
  box-shadow: 3px 3px 5px #888;
  color: #fff;
  margin-bottom: 25px;
}

.fa-clock{
  padding: 15px;
}

.reservation-num{
  display: inline-block;
}

.close-btn {
  position: absolute;
  top: 32px;
  right: 32px;
  width: 32px;
  height: 32px;
  border: 3px solid #fff;
  border-radius: 50%;
  background-color: transparent;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.close-btn--border{
  background-color: #fff;
  display: inline-block;
  position: absolute;
  left: 5px;
  right: 5px;
  height: 2px;
}

.close-btn--border:nth-last-of-type(1){
  top: 50%;
  rotate: 45deg;
}

.close-btn--border:nth-last-of-type(2) {
  top: 50%;
  rotate: -45deg;
}

.reservation-table{
  margin: 40px 0;
  width: 100%;
}

.reservation-table__ttl{
  padding: 8px 20px;
  text-align: left;
  width: 45%;
}

.edit-btn{
  width: 100%;
}

.edit-btn--link{
  border-radius: 0 0 5px 5px;
  background-color: blue;
  color: #fff;
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  text-decoration: none;
  text-align: center;
  width: 100%;
}

.edit-btn--link:hover {
  opacity: 0.7;
}

@media screen and (min-width: 768px) {
  .content__group {
      width: 40%;
    }
}


/* お気に入り店舗 */
.favorite__group{
  width: 48%;
}

.user{
  text-align: center;
}

.card__group{
  background-color: #fff;
  box-shadow: 3px 3px 5px #888;
  border-radius: 5px;
  margin-bottom: 25px;
  width: 100%;
}

.card__img{
  width: 100%;
}

.card__img img {
  border-radius: 5px 5px 0 0;
  width: 100%;
}

.card__content{
  padding: 0 15px;
}

.card__ttl{
  margin-bottom: 0;
}

.card__flex{
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

.card-link--button{
  border-radius: 5px;
  background-color: blue;
  color: #fff;
  padding: 5px 10px;
}

.card-link--button:hover {
  opacity: 0.8;
}

.heart input[type="checkbox"] {
  display: none;
}

.heart i {
  color: gray;
}

.heart input[type="checkbox"]:checked+i {
  color: red;
}

@media screen and (min-width: 768px) {
  .favorite__group {
      padding-left: 5%;
      width: 60%;
  }
  .card__area {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
  }

  .card__group {
    width: 45%;
  }
}
