.btn {
  border-radius: 5px;
  box-shadow: 3px 3px 5px #888;
  background: #2b43f8;
  color: #fff;
  margin: 100px auto 0;
  padding: 8px 5px;
  width: 50%;
}

.reservation-list {
  padding: 0 5%;
  margin-bottom: 60px;
}

.review-btn{
  margin-bottom: 30px;
}


.after-review{
  color: blue;
}