.header {
  height: 100px;
  max-width: 1500px;
  /* position: relative; */
}

.detail__content{
  max-width: 1500px;
}

.detail__content-inner{
  /* display: flex;
  justify-content: space-between; */
  padding: 0 5%;
  width: 100%;
}

@media screen and(min-width:768px) {
  .header {
      /* height: 100px;
      max-width: 1500px; */
      position: relative;
    }

  .detail__content-inner {
      display: flex;
      justify-content: space-between;
      padding: 0 5%;
      width: 100%;
    }
}


/* 店舗詳細 */
.card__group{
  width: 100%;
}

.ttl-group {
  display: flex;
  align-items: center;
}

.back-link{
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid blue;
  box-shadow: 3px 3px 5px #888;
  display: block;
  color: blue;
  padding: 13px;
  position: relative;
  text-align: center;
  transition: 0.3s;
  width: 40px;
}

.back-link::after{
  content: '';
  border: 0;
  border-top: 2px solid blue;
  border-right: 2px solid blue;
  display: inline-block;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translateY(-50%) rotate(-135deg);
  }

.card__ttl{
  margin-left: 20px;
}

.card__img{
  max-width: 100%;
}

.card__img img{
  width: 100%;
}

.card__content{
  margin-top: 30px;
}

.card__tag{

}

.card-desc{

}

@media screen and (min-width: 768px) {
  .card__group {
      width: 50%;
    }
}


/* 予約入力欄 */
.reservation__group{
  /* position: relative; */
  /* position: absolute;
  top: 5%;
  right: 0; */
  background: #2b43f8;
  border-radius: 5px;
  box-shadow: 3px 3px 5px #888;
  padding-top: 20px;
  /* margin-right: 5%; */
  /* height: 90vh; */
  width: 100%;
}

.reservation__ttl{
  color: #fff;
  margin: 20px;
}

.reservation-table{
  background-color: #456afd;
  border-radius: 5px;
  margin: 20px auto;
  padding: 10px;
  width: 95%;
}

.reservation-table__ttl {
  padding: 8px 20px;
  text-align: left;
  width: 45%;
}

.show__ttl{
  color: #fff;
  /* margin-top: 0; */
  padding: 0 20px;
  /* width: 40%; */
}

.show__ttl:last-child {
  margin-bottom: 0;
}

.show__item{
  color: #fff;
}

.reservation__btn{
  /* position: absolute;
  bottom: 0;
  right: 0;
  left: 0; */
  border-radius: 0 0 5px 5px;
  background-color: blue;
  color: #fff;
  display: block;
  margin-top: 50px;
  padding: 20px;
  text-decoration: none;
  text-align: center;
  width: 100%;
}

.reservation__btn:hover {
  opacity: 0.7;
}

.reservation__form{
    
}

.select-area__group{
  padding: 20px 20px 0;
}

.select-area{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  width: 100%;
}

.select-area::after {
  position: absolute;
  top: 50%;
  right: 1%;
  width: 0;
  height: 0;
  border-top: 12px solid #aaa;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  content: "";
  transform: translateY(-50%);
}

.reservation__form--date{
  border-radius: 5px;
  display: block;
  margin-bottom: 8px;
  outline: none;
  padding: 5px 10px;
  width: 50%;
}

.reservation__form--time{
  border-radius: 5px;
  display: block;
  margin-bottom: 8px;
  outline: none;
  padding: 5px 10px;
  width: 100%;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
}

.reservation__form--people{
  border-radius: 5px;
  display: block;
  margin-bottom: 8px;
  outline: none;
  padding: 5px 10px;
  width: 100%;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
}

  

.reservation-table{
  color: #fff;
}

  .reservation-table__row{

  }

  .reservation-table__ttl{
  
  }

  .reservation-table__item{

  }

@media screen and (min-width: 768px) {
  .reservation__group {
    position: relative;
    position: absolute;
    top: 5%;
    right: 0;
    background: #2b43f8;
    border-radius: 5px;
    box-shadow: 3px 3px 5px #888;
    padding: 20px;
    margin-right: 5%;
    height: 90vh;
    width: 40%;
  }
    .select-area__group {
      padding: 0;
    }
        .reservation__ttl {
          margin: 0;
          margin-bottom: 20px;
        }
    .reservation-table {
      margin: 20px 0;
      width: 100%;
    }

  .reservation__form--date {
                  /* border-radius: 5px;
                  display: block; */
    margin-bottom: 8px;
                  /* outline: none;
                  padding: 5px 10px;
                  width: 50%; */
  }

  .reservation__form--time {
    margin-bottom: 8px;
  }

  .reservation__form--people {
    margin-bottom: 8px;
  }

  .show__ttl {
                  /* color: #fff; */
    margin-top: 0;
    width: 40%;
  }

  .reservation__btn {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 0 0 5px 5px;
    background-color: blue;
    color: #fff;
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    width: 100%;
  }
}

  


