.content__ttl{
  text-align: center;
}

.btn {
  border-radius: 5px;
  background: #2b43f8;
  color: #fff;
  cursor: pointer;
  padding: 8px 5px;
}

.btn:hover{
  opacity: 0.8;
}

.reservation-list {
  padding: 0 5%;
}

.review-btn{
  margin-bottom: 30px;
}


.after-review{
  font-weight: bold;
}

.link {
  padding: 20px;
  text-align: center;
}

.back-link {
  color: blue;
}

.back-link:hover {
  opacity: 0.7;
}