.thanks-page{
  max-width: 1500px;
}

.thanks-page__inner{
  width: 100%;
}

.thanks-page__content{
  background-color: #fff;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 3px 3px 5px #888;
  margin: 80px auto 0;
  padding: 30px;
  width: 40%;
}

.thanks-page__message{
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin-top: 60px;
}

.thanks-btn{
  text-align: center;
  margin-bottom: 60px;
  
}

.login-link{
  background: blue;
  border-radius: 5px;
  color: #fff;
  padding: 8px 20px;
}

.login-link:hover{
  opacity: 0.7;
}

@media screen and (min-width: 768px) {
  .thanks-page__message {
    font-size: 1.1rem;
  }
}