.email__inner,
.sent__inner {
  background-color: #fff;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 3px 3px 5px #888;
  margin: 40px auto 0;
  padding: 15px;
  width: 40%;
}

.content__ttl{
  text-align: center;
}

.card-header {
  padding: 15px;
  font-size: 1.25em;
  font-weight: bold;
  text-align: center;
}

.card-body {
  padding: 20px;
  text-align: center;
}

.success {
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  padding: 10px;
  border-radius: 5px;
  width: 40%;
  text-align: center;
  margin: 0 auto;
}

.card-item {
  margin-bottom: 15px;
  font-size: 1em;
}

.form {
  margin-top: 20px;
  
}

.btn {
  background-color: blue;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

.sent-message{
  text-align: center;
}

.back-link{
  text-align: center;
}

.link{
  color: blue;
}

.link:hover {
  opacity: 0.7;
}
